#right_side {
    grid-column: 3 / span 6;
    grid-row: 2 / span 1;
    padding-left: 40px;
    padding-right: 20px;
    border-right: 3px solid #2c1d27;
}

.professional__item {
    border-left: 8px solid #782221;
    text-indent: -15px;
}

.professional__job {
    font-weight: bold;
}

.professional__bloc:hover {
    border-right: 5px solid #782221;
}