body {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(8, 145px);
    grid-template-rows: 2;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content:start;
    background-color: #dbc2a4;
    padding-left: 20px;
    height: 30px;
    align-items: center;
}