footer{
    height: 200px;
    background-color: #782221;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

/* DEBUT RESEAUX SOCIAUX */
#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#linkedin {
    width: 75px;
    height: 75px;
}

#linkedin_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#github {
    width: 75px;
    height: 75px;
}

#github_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FIN RESEAUX SOCIAUX */