body {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(8, 145px);
    grid-template-rows: 2;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content:start;
    background-color: #dbc2a4;
    padding-left: 20px;
    height: 30px;
    align-items: center;
}

/* DEBUT COTE GAUCHE */
#left_aside {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-color: #782221;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

#about {
    display: flex;
    flex-wrap: wrap;
    color: white; 
    padding-left: 20px;
    text-align: justify;
    text-indent: 30px;
}

#left_aside li {
    color: white;
}
/* FIN COTE GAUCHE */

/* DEBUT COTE DROIT */
#right_aside {
    grid-column: 3 / span 6;
    grid-row: 2 / span 1;
    padding-left: 40px;
    padding-right: 20px;
}
/* FIN COTE DROIT */